<!-- -*- mode: html; coding: utf-8 -*- -->
{{ $static := .Site.Params.path }}

<div class="summary-card">
  <div class="row">

    <div class="col-2" style="overflow-x: hidden">
      <img height="100%"
        {{ if .Params.image }}
          src="/{{ .Section }}/images/{{ .Params.image }}"
        {{ else }}
          src="{{ $static }}/images/default.png"
        {{ end }}
      />
    </div>

    <div class="col-xs-10 col-sm-8 align-items-center"
      style="margin-top: auto; margin-bottom: auto">
      <a href="{{ .Permalink }}">
        <h3>{{ if .Draft }}[DRAFT]{{end}}	{{ .Title }}</h3>
      </a>
      <p>{{ .Description | safeHTML }}</p>
    </div>

    <div class="hidden-xs col-sm-2">
      <p class="date">{{ .Date.Format "2006/01/02" }}</p>
      <hr>
      <div class="tags">
	{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      </div>
    </div>
  </div>
</div>
