{{ $base := .Site.Params.path }}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ $base }}/css/highlight-default.css">
    <link rel="stylesheet" href="{{ $base }}/css/style.css">
  </head>

  <body>
    <div id="content" class="container" style="padding-top: 15px">

      <div class="btn-group btn-group-justified" role="group">
	<a href="{{ $base }}/"
	   class="btn btn-default {{ if .IsHome }} active {{ end }}">
	  Overview</a>
	<a href="{{ $base }}/spec/"
	   class="btn btn-default {{ if eq .Section "spec" }} active {{ end }}">
	  Specification</a>
	<a href="{{ $base }}/examples/"
	   class="btn btn-success {{ if eq .Section "examples" }} active {{ end }}">
	  Getting Started</a>
	<a href="{{ $base }}/news/"
	   class="btn btn-default disabled {{ if eq .Section "news" }} active {{ end }}">
	  Latest News</a>
      </div>

<!--
Local Variables:
  truncate-lines: true
  ispell-local-dictionary: "american"
End:
-->
