{{ if .IsNamedParams }}
  {{ .Scratch.Set "src" (.Get "src") }}
  {{ .Scratch.Set "relative" (.Get "relative") }}
  {{ .Scratch.Set "caption" (.Get "caption") }}
{{ else }}
  {{ .Scratch.Set "src" (.Get 0) }}
  {{ .Scratch.Set "relative" (.Get 1) }}
  {{ .Scratch.Set "caption" (.Get 2) }}
{{ end }}

{{ if (ne (.Scratch.Get "relative") "false") }}
  {{ $path := delimit (slice $.Page.Section "images" $.Page.File.TranslationBaseName (.Scratch.Get "src")) "/" }}
  {{ .Scratch.Set "path" $path }}
{{ else }}
  {{ $path := delimit (slice $.Page.Section "images" (.Scratch.Get "src")) "/" }}
  {{ .Scratch.Set "path" $path }}
{{ end }}

<div class="polaroid">
  <img src='/{{ .Scratch.Get "path" }}' />
  {{ with .Scratch.Get "caption" }}
  <div class="polaroid-caption">
    <p>{{ . }}</p>
  </div>
  {{ end }}
</div>

