<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="container" style="padding-top: 15px">

      <div class="btn-group btn-group-justified" role="group">
	<a href="#" class="btn btn-default active">Overview</a>
	<a href="#" class="btn btn-default">Specification</a>
	<a href="#" class="btn btn-default">Examples</a>
	<a href="#" class="btn btn-default">Related</a>
      </div>

      <div class="jumbotron text-center"
	   style="background-color: inherit; padding-left: 0px; padding-right: 0px">
	<h1 style="font-size: 6em"><b>IDM</b></h1>
	<h2><b>Inter Domain Messaging</b></h2>

	<h3>“IDM is a virtual-network protocol that supports
	    peer-to-peer communication between devices connected to <b>any type of network</b>.
	    IDM integrates addressing for node, process and resource in a single identifier.
	    The transport and native network protcols can be avoided in many situations”</h3>
      </div>
      <hr>

      <div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4">

	  <div class="thumbnail">
	    <div class="caption">
              <h2><b>Over many protocols</b></h2>
              <p>Despite attempts to use IP everywhere, many vendors and technologies are
		 still using other domain-dependent protocols. IDM can be used as payload
		  for these protocols to reach the destination node. Over ZigBee, nRF24, RS485,
		  RS232, BT, etc, etc or any other protocol that can carry a message between two
		  remote or neighbor peers.</p>
	    </div>
	  </div>

	  <div class="thumbnail">
	    <div class="caption">
              <h3><b>Made to connect your devices</b></h3>
              <p></p>
	    </div>
	  </div>

	  <div class="thumbnail">
	    <div class="caption">
              <h3><b>Drop complexity</b></h3>
              <!-- <p>Description</p> -->
	    </div>
	  </div>

	</div>
	<div class="col-xs-4 col-sm-4 col-md-4">

	  <div class="thumbnail">
	    <div class="caption">
              <h2><b>Talk to everything</b></h2>
              <!-- <p>Description</p> -->
	    </div>
	  </div>

	  <div class="thumbnail">
	    <div class="caption">
              <h3><b>Ready for constrained devices</b></h3>
              <p>IDM requires a very low footprint. Both services and clients may be implemented in
		 highly resource-constrained devices (ex. Arduino UNO).</p>
	    </div>
	  </div>

	</div>
	<div class="col-xs-4 col-sm-4 col-md-4">
	  <div class="thumbnail">
	    <div class="caption">
              <h2><b>Virtual networks</b></h2>
              <!-- <p>Description</p> -->
	    </div>
	  </div>

	  <div class="thumbnail">
	    <div class="caption">
              <h3><b>Everything is an object</b></h3>
              <!-- <p>Description</p> -->
	    </div>
	  </div>

	</div>
      </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>


<!--
Local Variables:
  truncate-lines: true
  ispell-local-dictionary: "american"
End:
-->
