{{ $base := .Site.Params.path }}
{{ partial (print .Section "/header.html") . }}

<div class="jumbotron text-center"
     style="background-color: inherit; padding-left: 0px; padding-right: 0px">
  <h1 style="font-size: 6em"><b>IDM</b></h1>
  <h2><b>Inter Domain Messaging</b></h2>

  <h3>“IDM is a virtual-network protocol that supports
    peer-to-peer communication between devices connected to
    <b>any type of network</b>. IDM integrates addressing for
    node, process and resource in a single identifier.  The
    transport and native network protocols can be avoided in many
    situations”</h3>
</div>
<hr class="frontpage">

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="thumbnail">
      <div class="caption">
        <h2><b>Over many protocols</b></h2>
        <p>Despite some attempts to use IP everywhere, many vendors and
	  technologies will still create and use other
	  domain-dependent protocols. <b>IDM can use</b> these
	  underlying protocols to reach the destination service. Over
	  SSL, WebSockets, ZigBee, nRF24, RS485, RS232,
	  BlueTooth... or any other protocol that can carry a message
	  between two remote or neighbor peers. Of course, also over
	  TCP and UDP protocols.</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Drop complexity</b></h3>
        <p>Using the correct endpoints, you don't need to care about
          conections, sockets, resources, handlers... Just <b>focus</b>
          on writing your application, and let IDM handle the
          communications part! Also, using ZeroC Ice's intuitive IDL (called
	  <a href="https://doc.zeroc.com/display/Ice36/The+Slice+Language">Slice</a>),
          it's easy to define the contract between clients and
          servers. </p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Flexible addressing</b></h3>

        <p>The variable-length address scheme, from 8 to
	  <span class="dotted-tooltip" title="This is up to 340 trillion trillion trillion unique addresses!">128 bits</span> suits
	  your needs.

	  You can create networks of any scale, from a few tens to
	  trillions, but when you have a small deployment you may save
	  valuable bytes in headers and parameters.</p>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="thumbnail">
      <div class="caption">
        <h2><b>Talk to everything</b></h2>
	<p>IDM is a true <abbr title="Internet of Things">IoT</abbr>.

	  The messages may travel from <b>any to any</b>, doesn't
	  matter the place, network or device (like Internet
	  does). Without a cloud-centric data repository, without
	  complex stateful bridges... Just messages through the
	  inter-network.</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Made to connect your world</b></h3>
        <p>IDM is built upon <a href="https://zeroc.com/">ZeroC Ice</a>. With
          implementations for C++, C#, Java, JS, Objective-C, PHP,
          Python and Ruby, its easy to fit in almost every
          platform.</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Ready for constrained devices</b></h3>
        <p>IDM requires a very low footprint. Both services and
	  clients may be implemented in highly
	  resource-constrained devices, as low as Class 0
	  hardware (like Arduino UNO, 32 KiB code, 2 KiB RAM,
	  see <a href="https://tools.ietf.org/html/rfc7228">RFC 7228</a>).</p>

	<p>
	You can use our
	  <a href="{{ .Site.Params.baseDocURL }}/icec/">IceC</a>
	  (Ice for Constrained devices), available for Arduino,
	  ESP8266 and other platforms.
	</p>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2><b>Just domains</b></h2>
        <p>Each incompatible technology or isolated network is
	  a <em>domain</em>. Domains are interconnected by means of
	  stateless virtual routers (sometimes called <em>edge
	  routers</em>). For example, the whole public Internet may be
	  seen as a single domain.
	</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
	<h3><b>Virtual infrastructure</b></h3>
	<p>
	  The IDM <b>routers</b> are services able to forward IDM
	  messages between domains, despite of their encapsulation. The
	  router behavior depends on <em>flow</em> specs, that are
	  managed by a Controller. This takes some ideas from
	  <a href="https://www.opennetworking.org/sdn-resources/openflow">OpenFlow</a>
	  and <abbr title="Software Defined Networking">SDN</abbr>.
	</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Everything is an object</b></h3>
        <p>We see the IoT as an <abbr title="Object Oriented">OO</abbr>
        infrastructure. Any sensor, actuator or filter is an object,
        that is, it has a well known interface. IDM is a protocol that
        directly encapsulates invocations to these objects.</p>
      </div>
    </div>

  </div>
</div>

<br>
<hr class="frontpage">

{{ partial "footer.html" . }}