{{ partial "header.html" . }}

<div class="jumbotron text-center"
     style="background-color: inherit; padding-left: 0px; padding-right: 0px">
  <h1 style="font-size: 6em"><b>IceC</b></h1>
  <h2><b>Ice for Constrained devices</b></h2>

  <h3>“IceC is an object oriented <b>communication middleware</b>,
  specifically designed for highly constrained devices. Written in
  C/C++, and with a binary protocol, it uses a minimal footprint, not
  only on processor and memory resources, but also in network bandwith
  usage.”</h3>
</div>
<hr class="frontpage">


{{ partial "footer.html" . }}

<!--
Local Variables:
  truncate-lines: true
  ispell-local-dictionary: "american"
End:
-->
