{{ partial "header.html" . }}

<div class="jumbotron text-center"
     style="background-color: inherit; padding-left: 0px; padding-right: 0px">
  <h1 style="font-size: 6em"><b>IceC</b></h1>
  <h2><b>Ice for Constrained devices</b></h2>

  <h3>“IceC is an object oriented <b>communication middleware</b>,
  specifically designed for highly constrained devices. Written in
  C/C++, and with a binary protocol, it uses a minimal footprint, not
  only on processor and memory resources, but also in network bandwith
  usage.”</h3>
</div>
<hr class="frontpage">

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="thumbnail">
      <div class="caption">
        <h2><b>Portable</b></h2>
        <p>Written in Ansi C (with some endpoints in C++), you can use
	  IceC wherever you have a compliant Ansi C
	  compiler. Moreover, the core units are <b>decoupled</b> from
	  non-standard libraries, which makes porting very easy.</p>

      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Extendable</b></h3>
        <p>IceC uses a plug-in system to implement the <b>communication
          endpoints</b>. With a very straightforward interface, it is
          easy to add support for new network protocols or hardware
          adapters.</p>

      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>For many protocols</b></h3>
        <p>Currently, IceC has endpoints for <b>TCP</b>/IP or <b>UDP</b>/IP, but
          also for Serial, RS-485 (using a custom protocol called
	  <acronym title="Round Robin Protocol">RRP</acronym>),
          FIFO buffers, <b>ZigBee</b>, nRF24... and growing! </p>

      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="thumbnail">
      <div class="caption">
        <h2><b>Ready for IoT</b></h2>
        <p>You can use IceC to send the value of your <b>sensors</b> or
          change the state of your <b>actuators</b> from anywhere (even more
          seamlessly with <a href="{{ .Params.baseDocURL }}/idm/">IDM</a>).
	  IceC is compatible with cloud and cloud-less aplications.
	</p>

      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Small hardware needs</b></h3>
        <p>IceC is designed for highly resource constrained hardware
	  (like Class 0 devices, as specified in <a href="https://tools.ietf.org/html/rfc7228">RFC
	  7228</a>). Thus, it works perfectly on <b>AVR</b> based devices (like
	  many <a href="https://www.arduino.cc/">Arduinos</a>), with
	  only 32 KiB of code and 2 KiB of RAM. Of course, it is
	  ported to "bigger" platforms, like the ESP8266, many ARMs
	  and even some FPGA, like the Zynq.<p>

      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Full of features</b></h3>
        <p>IceC is a minimal implementation of IceP, the protocol used by
	  <a href="https://zeroc.com/">ZeroC Ice</a>. It supports the
	  <b>core</b> features of IceP v1.0, along some "extra"
	  features, like Dynamic Ice or Default Servants.</p>

      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="thumbnail">
      <div class="caption">
        <h2><b>Efficient</b></h2>
        <p>Using a binary and well-designed protocol, <a href="https://doc.zeroc.com/display/Ice36/The+Ice+Protocol">IceP</a>,
	  you will use your <b>network bandwith</b> wisely. Given that IceC
	  does not need to parse complex plain-text headers or markup,
	  also is very efficient in computational resources, like <b>CPU</b>
	  time and <b>memory</b>.</p>

      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Intuitive IDL</b></h3>
        <p>Define you API (the contract between clients and servers)
	  using Ice's <acronym title="Interface Definition Language">IDL</acronym>,
	  called <a href="https://doc.zeroc.com/display/Ice36/The+Slice+Language">Slice</a>.
	  IceC, again, supports the <b>most common</b> feature set:
	  modules, interfaces, methods, basic types, custom structs,
	  dictionaries, sequences...</p>
      </div>
    </div>

    <div class="thumbnail">
      <div class="caption">
        <h3><b>Easy to use</b></h3>
        <p>IceC handles the communication part, lets you focus on your
	  application solution! Please, go to <a class="highligh-section" href="examples">Getting
	  Started</a> if you want to <b>start</b> right now!</p>

      </div>
    </div>

  </div>
</div>

<hr class="frontpage">

{{ partial "footer.html" . }}

<!--
Local Variables:
  truncate-lines: true
  ispell-local-dictionary: "american"
End:
-->
