{{ partial "header.html" . }}

<div class="jumbotron text-center"
     style="background-color: inherit; padding-left: 0px; padding-right: 0px">
  <h1 style="font-size: 6em"><b>IceC</b></h1>
  <h2><b>Ice for Constrained devices</b></h2>

  <h3>“IDM is a virtual-network protocol that supports
    peer-to-peer communication between devices connected to
    <b>any type of network</b>. IDM integrates addressing for
    node, process and resource in a single identifier.  The
    transport and native network protocols can be avoided in many
    situations”</h3>
</div>
<hr class="frontpage">


{{ partial "footer.html" . }}

<!--
Local Variables:
  truncate-lines: true
  ispell-local-dictionary: "american"
End:
-->
