{{ partial "header.html" . }}
{{ $base := .Site.Params.path }}

<div class="box">
  <img src="{{ $base }}/images/arco-logo-128.png"
       style="padding: 0 25px"/>
  <h1 style="display: inline; font-weight: bold; font-size: 2.3em; padding-top: 10px">
    Research & Documentation</h1>
</div>

<hr style="border: 1px solid #333333">

<div class="input-group mb-3" style="padding-bottom: 10px">
  <input type="text" class="form-control" placeholder="Text to search..."
         id="search-input" name="search-input">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<div id="content-body">

  <h2 class="listing"># Projects</h2>
  <div style="margin-left: 50px">
    {{ range where .Site.Sections "Type" "project" }}
      {{ partial "project-card.html" . }}
    {{ end }}
  </div>

  <br>
  <h2 class="listing"># Internal Research</h2>
  <div style="margin-left: 50px">
    {{ range where .Site.Sections "Type" "internal-project" }}
      {{ partial "project-card.html" . }}
    {{ end }}
  </div>

  <br>
  <h2 class="listing"># Recipes & Other Docs</h2>
  <div style="margin-left: 50px">
    {{ range where .Site.Sections "Type" "recipes" }}
      {{ partial "project-card.html" . }}
    {{ end }}
  </div>

</div>

<script src="{{ $base }}/js/lunr.js"></script>
<script src="{{ $base }}/js/search.js"></script>

{{ partial "footer.html" . }}