{{ $base := .Site.Params.path }}

<!DOCTYPE html>
<html>

<head>
  <title>{{ .Site.Title }}</title>
  <meta charset='utf-8'>

  <link rel="stylesheet" href="{{ $base }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ $base }}/css/font-awesome.css">
  <link rel="stylesheet" href="{{ $base }}/css/highlight-default.css">
  <link rel="stylesheet" href="{{ $base }}/css/style.css">

  <link rel="icon" type="image/png"  href="{{ $base }}/images/icon.png">
</head>

<body>
  <div id="content" class="container" style="padding-top: 15px">
