
.api-module {
    color: #ff5100;
}

.api-class {
    color: #3179c7;
}

.api-func {
    font-weight: bold;
    padding-top: 5px;
}

.api-prop, .api-prop code {
    color: #555;
    font-weight: bold;
}

red {
    color: white;
    background-color: red;
    padding: 5px;
    font-weight: bold;
}